body {
	color: #0098d8;
	font-family: Times, serif;
	font-weight: 900;
	background: url("./background_pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}